<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>闪测评</title>
    <style>
    	body{
			padding:0;
			margin:0;
		}
		.lui-content img {
			width: 100%;
		}
    </style>
</head>
<body>
	<div class="lui-content">
		<img src="/public/uploads/system/no_login.png"/>
	</div>
</body>
</html>